<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modelo</title>
  <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
  <!-- fim fonts -->
</head>
<body>
  <section class="container">
    <h1>Lorem ipsum dolor sit amet.</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora accusantium est eos magnam exercitationem alias possimus similique porro. Rem, facilis! Impedit similique tenetur cum repudiandae, sunt consequatur praesentium rem? Odio quas eos debitis voluptatibus libero illo quasi quam quo ipsum. Facere explicabo saepe necessitatibus aspernatur recusandae quia nemo temporibus quidem?
    </p>
  
  </section>

  <script src="./assets/js/bundle.js"></script>
</body>
</html>